.button {
  @apply px-5 py-3 text-white duration-300 rounded-full border;
  position: relative;
  display: inline-block;
  transition: border-color ease 300ms, color ease 300ms, background-color ease 300ms;

  &--primary, &.accordion-button {
    @apply bg-blue-base border-blue-base hover:bg-white hover:text-blue-base;
  }

  &--secondary {
    @apply bg-white text-black border-black hover:bg-black hover:text-white;
  }

  &--tertiary {
    @apply text-white bg-black border-black hover:text-black hover:bg-white;
  }

  &--transparent {
    @apply bg-transparent text-white border-white hover:text-black hover:bg-white;
  }

  &--main {
    @apply bg-transparent text-blue-main border-blue-main hover:bg-blue-main hover:text-white;
  }

  &--dark {
    @apply bg-blue-main text-white border-blue-main hover:bg-transparent hover:text-blue-main;
  }

  &--light {
    @apply text-gray-steel border-transparent hover:text-blue-main hover:bg-gray-base;

    &.active {
      @apply bg-gray-base text-blue-main hover:border-blue-main;
    }
  }

  &--small-main {
    @apply px-4 py-1 text-blue-base border-blue-base hover:border-blue-main hover:text-blue-main;
  }

  &--wpcf {
    @apply flex justify-center items-center text-center;
    .wpcf7-spinner {
      @apply absolute -right-1/2;
    }
  }

  &--select {
    /* Styling the options */
    @apply text-blue-base border-blue-base bg-white;
    //hover:border-blue-main hover:text-blue-main;

    option {
      @apply px-2 py-1;
      font-size: 16px;
      color: #333;
      background-color: #fff;
    }

    /* Styling the selected option */
    option:checked {
      background-color: #f0f0f0;
    }
  }
}

.custom-select {
  position: relative;
  width: 200px; /* Set the desired width */
}

.select-trigger {
  display: block;
  background-color: #fff;
  cursor: pointer;
  transition: all 300ms ease;
  border-radius: 1.5rem;
  @apply px-5 py-3 border border-blue-main text-blue-main;

  &::after, &::before {
    position: absolute;
    right: 12px;
    content: "";
    transition: all 300ms ease;
    width: 9px;
    height: 1px;
    top: 50%;
    transform-origin: 0 0;
    @apply bg-black;
  }


  &::before {
    transform: rotate(45deg) translateX(-9px);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &.open {
    @apply rounded-b-none;

    &::before {
      transform: rotate(-45deg) translateX(-9px);
    }

    &::after {
      transform: rotate(45deg);
    }
  }


}

.option-list {
  @apply text-blue-main;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  z-index: 1;
  width: 100%;
}

.option-list li {
  padding: 10px;
  cursor: pointer;
}

.option-list li:hover {
  background-color: #f0f0f0;
}



