.button {
  @apply px-5 py-3 text-white duration-300 rounded-full border;
  position: relative;
  display: inline-block;
  transition: border-color ease 300ms, color ease 300ms, background-color ease 300ms;

  &--primary {
    @apply bg-blue-base border-blue-base hover:bg-white hover:text-blue-base;
  }

  &--secondary {
    @apply bg-white text-black border-black hover:bg-black hover:text-white;
  }

  &--tertiary {
    @apply text-white bg-black border-black hover:text-black hover:bg-white;
  }

  &--transparent {
    @apply bg-transparent text-white border-white hover:text-black hover:bg-white;
  }

  &--main {
    @apply bg-transparent text-blue-main border-blue-main hover:bg-blue-main hover:text-white;
  }

  &--dark {
    @apply bg-blue-main text-white border-blue-main hover:bg-transparent hover:text-blue-main;
  }

  &--light {
    @apply text-gray-steel border-transparent hover:text-blue-main hover:bg-gray-base;

    &.active {
      @apply bg-gray-base text-blue-main hover:border-blue-main;
    }
  }

  &--small-main {
    @apply px-4 py-1 text-blue-base border-blue-base hover:border-blue-main hover:text-blue-main;
  }

  &--wpcf {
    @apply flex justify-center items-center text-center;
    .wpcf7-spinner {
      @apply absolute -right-1/2;
    }
  }

  &--select {
    /* Styling the options */
    @apply px-4 py-1 text-blue-base border-blue-base bg-white;
    //hover:border-blue-main hover:text-blue-main;

    option {
      @apply px-2 py-1;
      font-size: 16px;
      color: #333;
      background-color: #fff;
    }

    /* Styling the selected option */
    option:checked {
      background-color: #f0f0f0;
    }
  }
}

.custom-select {
  cursor: pointer;
  padding: .75rem 5rem .75rem 2.5rem;
  position: relative;
  width: 124px;
  z-index: 99;
}



